{% extends 'base.html.twig' %}

{% block title %}Modifier Convention{% endblock %}

{% block body %}
    <h1>Modifier Convention</h1>

    {{ include('convention/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('convention_index') }}">retour au liste</a>

    {{ include('convention/_delete_form.html.twig') }}
{% endblock %}
