{% extends 'base.html.twig' %}

{% block title %}Nouvelle Convention{% endblock %}

{% block body %}
    <h1>Creer une nouvelle Convention</h1>

    {{ include('convention/_form.html.twig') }}

    <a href="{{ path('convention_index') }}">retour au liste</a>
{% endblock %}
